.principal {
  background-color: #a8bcc2;
  height: 100%;
}
.card {
  height: 170px;
  width: 100vw;
  background-color: #5c838f;
  border-radius: 1px;
}

.circulo {
  background-size: cover;
  width: 150px;
  height: 150px;
  margin-right: 55vw;
  margin-top: 1.2vh;
}

#info {
  background-color: #a8bcc2;
}
