<div id="ventana_principal">
    <div *ngIf="hoteles; else esNull">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" >
        <agm-marker [latitude]="per.latitud" [longitude]="per.longitud" *ngFor="let per of hoteles"></agm-marker>
      </agm-map>
    </div>
    <ng-template #esNull>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"></agm-map>
    </ng-template>
    <div id="navegador">
        <app-navbar></app-navbar>
    </div>
    <div id="ventana_secundaria">
        <app-izquierda (EP_max)="obtenerPrecio($event)" (EEstrellas)="obtenerEstrellas($event)"></app-izquierda>
    </div>
</div>
