<div id="ventana_principal">
    <div *ngIf="hoteles; else esNull">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" >
        <div *ngFor="let per of hoteles">
          <div *ngIf="per.precioNoche < precio_max && per.categoria == estrellas">
            <agm-marker [latitude]="per.latitud" [longitude]="per.longitud"></agm-marker>
          </div>
        </div>
      </agm-map>
    </div>
    <ng-template #esNull>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"></agm-map>
    </ng-template>
    <div id="navegador">
        <app-navbar></app-navbar>
    </div>
    <div id="ventana_secundaria">
        <app-izquierda (EP_max)="obtenerPrecio($event)" (EEstrellas)="obtenerEstrellas($event)"></app-izquierda>
    </div>
</div>
