input,
textarea {
    background-color: #d0e0f0;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    color: #000;
    font-weight: 400
}

#main {
    background-color: #a0c8d4;
    width: 100vw;
    height: 100vh;
}
