<div id="main" *ngIf="!submitted">
    <div class="row justify-content-center my-auto">
        <form class="col-md-2 col-10 my-5">
            <div class="row justify-content-center"></div>
            <img src="assets/logo.png" alt="" height="120px" width="120px" style="margin-left: 70px;">
            <div class="form-group"> <label class="form-control-label text-muted">Username</label> <input type="text" id="email" name="email" placeholder="Usuario" class="form-control" required [(ngModel)]="login.username" name="username"> </div>
            <div class="form-group"> <label class="form-control-label text-muted">Password</label> <input type="password" id="password" name="psw" placeholder="Contraseña" class="form-control" required [(ngModel)]="login.password" name="password"> </div>
            <div class="row justify-content-center my-3 px-3"> <button type="submit" class="btn-block btn-color" (click)="logUser()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/home']">Iniciar sessión</button> </div>
        </form>
    </div>
</div>
