<div class="contenedor-p">
    <app-navbar></app-navbar>
    <div class="margenes">
        <h1 class="fw-bold fs-1">About</h1>
        <div class="d-flex flex-row justify-content-evenly" style="margin-top: 40px;">
            <div class="rounded-circle bg-light" style="background-image: url(../../assets/foto\ carnet.png); background-size: cover; width: 200px; height: 200px;"></div>
            <div class="card shadow d-flex flex-row justify-content-evenly">
                <div class="descripcion w-75" style="border-right: solid 1px rgb(206, 206, 206);">
                    <h1 class="fw-bold" style="padding: 20px; color: rgb(63, 63, 63);">Miquel Angel Montero</h1>
                </div>
                <div class="linkedin w-25 d-flex flex-column justify justify-content-evenly align-items-center">
                    <a href="https://www.linkedin.com/in/miquel-angel-montero-1b8441222/"><i class="fa-brands fa-linkedin fa-2xl" style="text-decoration: none; color: #000000;"></i></a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-evenly" style="margin-top: 40px;">
            <div class="rounded-circle bg-light" style="background-image: url(../../assets/eloy.png); background-size: cover; width: 200px; height: 200px;"></div>
            <div class="card shadow d-flex flex-row justify-content-evenly">
                <div class="descripcion w-75" style="border-right: solid 1px rgb(206, 206, 206);">
                    <h1 class="fw-bold" style="padding: 20px; color: rgb(63, 63, 63);">Eloy Altozano Meijer</h1>
                </div>
                <div class="linkedin w-25 d-flex flex-column justify justify-content-evenly align-items-center">
                    <a href="https://www.linkedin.com/in/eloy-altozano-meijer/"><i class="fa-brands fa-linkedin fa-2xl" style="text-decoration: none; color: #000000;"></i></a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-evenly" style="margin-top: 40px;">
            <div class="rounded-circle bg-light" style="background-image: url(../../assets/jordi.png); background-size: cover; width: 200px; height: 200px; margin-right: 10px;"></div>
            <div class="card shadow d-flex flex-row justify-content-evenly">
                <div class="descripcion w-75" style="border-right: solid 1px rgb(206, 206, 206);">
                    <h1 class="fw-bold" style="padding: 20px; color: rgb(63, 63, 63);">Jordi Ribellas Ramos</h1>
                </div>
                <div class="linkedin w-25 d-flex flex-column justify justify-content-evenly align-items-center">
                    <a href="https://www.linkedin.com/in/jordi-ribellas-ramos/"><i class="fa-brands fa-linkedin fa-2xl" style="text-decoration: none; color: #000000;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
