<app-navbar></app-navbar>
<div class="container">
    <div class="card">
        <img src="assets/foto carnet.png" alt="Person" class="rounded-circle" style="width: 150px; height: 150px;">
        <p>Miquel Angel Montero</p>
        <div class="grid-container ">
            Cerebro
        </div>
        <ul class="social-icons ">
            <li>
                <a href="https://www.linkedin.com/in/miquel-angel-montero-1b8441222/"><img src="assets/LinkedIn.png" alt="Linkedin Logo" style="width: 30px; height: 30px;"></a>
            </li>
            <li>
                <a href="https://gmail.com"><img src="assets/gmail.png" alt="" style="width: 40px; height: 30px;"></a>
            </li>
        </ul>


    </div>
    <div class="card ">
        <img src="assets/jordi.png " alt="Person " style="width: 150px; height: 150px;" class="rounded-circle ">
        <p>Jordi Ribellas</p>
        <div class="grid-container ">
            Investigador de Recursos
        </div>
        <ul class="social-icons ">
            <li>
                <a href="https://www.linkedin.com/in/jordi-ribellas-ramos/ "><img src="assets/LinkedIn.png" alt="Linkedin Logo" style="width: 30px; height: 30px;"></a>
            </li>
            <li>
                <a href="https://gmail.com"><img src="assets/gmail.png" alt="" style="width: 40px; height: 30px;"></a>
            </li>
        </ul>


    </div>
    <div class="card ">
        <img src="assets/eloy.png " alt="Person " style="width: 150px; height: 150px;" class="rounded-circle ">
        <p>Eloy Altozano</p>
        <div class="grid-container ">
            Implementador
        </div>
        <ul class="social-icons ">
            <li>
                <a href="https://www.linkedin.com/in/eloy-altozano-meijer/ "><img src="assets/LinkedIn.png" alt="Linkedin Logo" style="width: 30px; height: 30px;"></a>
            </li>
            <li>
                <a href="https://gmail.com"><img src="assets/gmail.png" alt="" style="width: 40px; height: 30px;"></a>
            </li>
        </ul>

    </div>
</div>