<form class="m-4">
  <input type="search" class="form-control  shadow" placeholder="Busca algo..." aria-label="Search">
  <div class="shadow">
    <label for="customRange2" class="form-label">Precio máximo por noche</label>
    <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="500"
    step="auto"
    min="0"
    max="500"
    aria-label="units"></mat-slider>
  </div>
  <div class="shadow">
    <label for="customRange3" class="form-label">Estrellas</label>
    <mat-slider min="1" max="5" step="1" value="1" [value]="estrellas"></mat-slider>
    <!-- <input type="range" class="form-range w-75" min="1" max="5" id="customRange2"> -->
    <div class="estrellas" style="color: #ffc107;">
      <i class="fa-regular fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
    </div>
  </div>
</form>
