<form class="m-4 d-flex flex-column justify-content-evenly">
    <input type="search" class="form-control  shadow" placeholder="Busca algo..." aria-label="Search">
    <div class="shadow">
        <label for="customRange2" class="form-label">Precio máximo por noche</label>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="500" step="auto" min="0" max="500" aria-label="units" [(ngModel)]="precio_max"></mat-slider>
    </div>
    <div class="shadow">
        <label for="customRange3" class="form-label">Estrellas</label>
        <!-- <input type="range" class="form-range w-75" min="1" max="5" id="customRange2"> -->
        <div class="estrellas" style="color: #ffc107;">
            <ngx-star-rating [(ngModel)]="estrellas"></ngx-star-rating>
        </div>
    </div>
    <div class="shadow">
        <label for="customRange2" class="form-label">Personaliza tu hotel!</label>
        <div class="cajas d-flex flex-column justify-content-around">
            <div class="row" style="margin-bottom: 10px;">
                <mat-checkbox class="col"><i class="fa-solid fa-tree" style="color: green; margin-left: 10px;"> Eco</i></mat-checkbox>
                <mat-checkbox class="col"><i class="fa-solid fa-heart" style="color: rgb(204, 107, 107);"> Actividad</i></mat-checkbox>
            </div>
            <div class="row">
                <mat-checkbox class="col"><i class="fa-solid fa-carrot" style="color: rgb(255, 115, 0);"> Alm. Sostenible</i></mat-checkbox>
            </div>
        </div>
    </div>
    <button class="btn btn-warning shadow" style="background-color: #ffc107;" (click)="ejecutarEvento()">Buscar</button>
</form>
