<body>
  <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
      <img src="assets/logo.png" height="70px" width="70px">
      <br>

      <label for="username"><b>Nombre/Usuario</b></label>
      <input type="text" placeholder="Usuario" id="username" required [(ngModel)]="usuario.username" name="username">
      <br>

      <label for="Apellidos"><b>Apellidos</b></label>
      <input type="text" placeholder="Apellidos" id="Apellidos" required [(ngModel)]="usuario.Apellidos" name="Apellidos">
      <br>

      <label for="Edad"><b>Edad</b></label>
      <input type="text" placeholder="Edad" id="Edad" required [(ngModel)]="usuario.Edad" name="Edad">
      <br>

      <label for="Correo"><b>Correo</b></label>
      <input type="text" placeholder="ejemplo@email.com" id="Correo" required [(ngModel)]="usuario.Correo" name="Correo">
      <br>

      <label for="Telefono"><b>Telefono</b></label>
      <input type="text" placeholder="Telefono" id="Telefono" required [(ngModel)]="usuario.Telefono" name="Telefono">
      <br>

      <label for="password"><b>Contraseña</b></label>
      <input type="password" placeholder="Contraseña" id="password" required [(ngModel)]="usuario.password" name="password">
        <hr>
        <button id="register" (click)="guardarUsuario()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/register']">Register</button>
  </form>
</body>
