.panel {
  width: 420px;
  height: 20%;
  border-style: none;
}

.panel2 {
  background-color:#bfe5f1;
  position: fixed;
  width: 27%;
  height: 85%;
  border-style: none;
  /*overflow-y: scroll*/
}

#boton {
  position: fixed;
  top: 50px;
}
